@import "./_variables";
@import "./_mixins";

.about {
  max-width: 100vw;
  height: auto;
  padding: 64px 20px;

  &__lead-text {
    margin-top: 0;
    color: $gold;
    @include section-title;
  }

  &__paragraph {
    position: relative;
    @include section-paragraph;

    &:last-of-type::after {
      position: absolute;
      left: 0;
      bottom: -40px;
      content: "";
      @include dots;
    }
  }
}
