@import "./_variables";
@import "./_mixins";

.gallery {
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 64px;

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("./images/heroes/hero_01_1920_1080.jpg");
    background-size: cover;
    background-position: center;

    &--title {
      position: absolute;
      left: 0;
      bottom: 25%;
      width: 100%;
      max-width: 100vw;
      z-index: 2;
      @include lead-text;

      &:after {
        position: absolute;
        left: 50%;
        bottom: -60px;
        transform: translateX(-50%);
        content: "";
        @include dots;
      }
    }
  }

  &__image--single {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("./images/enklawa_polany/map_clear_resized.jpg");
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 96px;
  }
}
