@import "./_variables";
@import "./_mixins";

.investments {
  max-width: 100vw;
  height: auto;
  padding: 40px 20px;

  &__lead-text {
    margin-top: 0;
    color: $gold;
    @include section-title;
  }

  &__paragraph {
    position: relative;
    @include section-paragraph;

    &:after {
      position: absolute;
      left: 0;
      bottom: -40px;
      content: "";
      @include dots;
    }
  }

  &-wrapper {
    padding-top: 80px;

    .single-investment {
      display: block;
      text-decoration: none;
      cursor: pointer;

      &__image {
        width: calc(100vw - 40px);
        height: calc((100vw - 40px) / 16 * 9);
        background: url("./images/heroes/hero_01_1920_1080.jpg");
        background-size: cover;
      }
      &__name {
        font-family: $ivymode;
        font-size: 24px;
        color: $dark;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 12px;
      }
      &__city {
        font-family: $nunito;
        font-size: 18px;
        color: $dark;
        font-weight: 300;
        margin: 0;
      }

      &:not(:nth-of-type(1)) {
        padding-top: 60px;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 80px 20px 80px;
      display: grid;
      grid-template-columns: minmax(40%, 1fr) minmax(40%, 1fr);
      grid-gap: 60px 40px;

      .single-investment {
        height: auto;
        &__image {
          width: 100%;
          max-width: 100%;
          height: calc((100vw - 120px) / 16 * 9 / 2);
        }

        &:not(:nth-of-type(1)) {
          padding-top: 0;
        }
      }
    }
  }
}
