@import "./_variables.scss";

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin dots {
  width: 80px;
  height: 20px;
  background-color: $gold;
  border-radius: 4px;
  opacity: 0.75;
}

@mixin lead-text {
  text-align: center;
  color: $white;
  font-family: $ivymode;
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
  font-style: normal;

  @media screen and (min-width: 768px) {
    font-size: 64px;
    line-height: 80px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 80px;
    line-height: 96px;
  }

  @media screen and (min-width: 1280px) {
    br {
      display: none;
    }
  }
}

@mixin section-title {
  font-family: $ivymode;
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
  font-style: normal;

  span {
    color: $dark;
    font-weight: normal;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 80%;
    font-size: 56px;
    line-height: 72px;
  }
  @media screen and (min-width: 1152px) {
    max-width: 1152px;
  }
}

@mixin city {
  font-family: $ivymode;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  font-style: normal;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 80%;
    font-size: 36px;
    line-height: 60px;
  }
  @media screen and (min-width: 1152px) {
    max-width: 1152px;
  }
}

@mixin section-paragraph {
  font-family: $nunito;
  font-size: 18px;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 1152px) {
    max-width: 50%;
    align-self: flex-start;
    margin-left: calc((100vw - 1152px) / 2 - 20px);
  }
}

@mixin single-paragraph {
  font-family: $nunito;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 1152px) {
    max-width: 50%;
    align-self: flex-start;
    margin-left: calc((100vw - 1152px) / 2 - 20px);
  }
}

@mixin datas-box {
  min-width: 240px;
  min-height: 80px;
  border: 1px dashed $gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (min-width: 768px) {
    width: 30%;
  }
  // padding-left: 16px;
}
