@import "./_variables";
@import "./_mixins";

.single-gallery {
  max-width: 100vw;
  height: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__lead-text {
    margin-top: 0;
    color: $gold;
    @include section-title;
  }

  &-wrapper {
    padding-top: 40px;
    width: 100%;

    .single-gallery-item {
      display: block;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;

      &__image {
        width: calc(100vw - 40px);
        height: calc((100vw - 40px) / 16 * 9);
        background: url("./images/enklawa_polany/1.jpg");
        background-size: cover;
        transition: transform 1s;

        // &:hover {
        //   transform: scale(1.05);
        // }
      }

      &:not(:nth-of-type(1)) {
        padding-top: 40px;
      }

      &:nth-of-type(2) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/2.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(3) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/3.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(4) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/4.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(5) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/5.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(6) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/6.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(7) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/7.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(8) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/8.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(9) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/9.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(10) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/10.jpg");
          background-size: cover;
        }
      }
      &:nth-of-type(11) {
        .single-gallery-item__image {
          background: url("./images/enklawa_polany/map_clear_resized.jpg");
          background-size: cover;
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding: 40px 20px 80px;
      display: grid;
      grid-template-columns: minmax(40%, 1fr) minmax(40%, 1fr);
      grid-gap: 40px 40px;

      .single-gallery-item {
        height: auto;
        &__image {
          width: 100%;
          max-width: 100%;
          height: calc((100vw - 120px) / 16 * 9 / 2);
        }

        &:not(:nth-of-type(1)) {
          padding-top: 0;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      padding: 40px 30px 80px;
      width: 100%;
      max-width: 100%;
      justify-content: center;
      grid-template-columns: minmax(25%, 1fr) minmax(25%, 1fr) minmax(25%, 1fr);

      grid-gap: 40px;

      .single-gallery-item {
        &__image {
          height: calc((100vw - 180px) / 16 * 9 / 3);
        }
      }
    }

    @media screen and (min-width: 1152px) {
      max-width: 1152px;
      justify-content: center;

      .single-gallery-item {
        &__image {
          width: 100%;
        }
      }
    }
  }
}
