@import "./_variables";
@import "./_mixins";

.single-datas {
  padding: 0 20px;
  .datas-wrapper {
    .datas__box {
      @include datas-box;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &--title {
        font-family: $ivymode;
        font-size: 20px;
        color: $gold;
        font-weight: normal;
        letter-spacing: 1.1px;
        margin-top: 16px;
        margin-bottom: 0;
        text-align: center;
      }

      &--value {
        font-family: $nunito;
        font-size: 18px;
        color: $dark;
        font-weight: 500;
        margin: 16px 0;
      }
    }

    @media screen and (min-width: 1024px) {
      display: grid;
      padding: 20px 0 20px;
      width: 100%;
      max-width: 100%;
      justify-content: center;
      grid-template-columns: minmax(25%, 1fr) minmax(25%, 1fr) minmax(25%, 1fr);
      grid-template-areas: "data-01 data-02 data-03";

      grid-gap: 40px;

      .datas__box {
        margin-bottom: 0;
        grid-area: data-01;

        &:nth-of-type(2) {
          grid-area: data-02;
        }
        &:last-of-type {
          grid-area: data-03;
        }

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: 1152px) {
      margin: 0 auto;
      max-width: 1152px;
      justify-content: center;
    }
  }
}

.single-datas-01 {
  margin-top: 20px;
  padding: 20 20px;
  .datas-wrapper {
    background: $beige;
    padding: 20px 0;
    .datas__box {
      @include datas-box;
      border: none;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &--title {
        font-family: $ivymode;
        font-size: 20px;
        color: $gold;
        font-weight: normal;
        letter-spacing: 1.1px;
        margin-top: 16px;
        margin-bottom: 0;
        text-align: center;
      }

      &--value {
        font-family: $nunito;
        font-size: 18px;
        color: $dark;
        font-weight: 500;
        margin: 16px 0;
      }
    }

    @media screen and (min-width: 1024px) {
      display: grid;
      padding: 20px 0 20px;
      width: 100%;
      max-width: 100%;
      height: 160px;
      justify-content: center;
      grid-template-columns: minmax(25%, 1fr) minmax(25%, 1fr) minmax(25%, 1fr);
      grid-template-areas: "data-01 data-02 data-03";

      grid-gap: 40px;

      .datas__box {
        margin-bottom: 0;
        grid-area: data-01;
        justify-content: center;

        &:nth-of-type(2) {
          grid-area: data-02;
        }
        &:last-of-type {
          grid-area: data-03;
        }

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: 1152px) {
      margin: 0 auto;
      max-width: 1152px;
      padding: 20px calc((100vw - 1152px) / 2);
      justify-content: center;
    }
  }
}
